
<h1>View projects</h1>
<ul>
  {{#each items}}
    <li>project: {{this}}</li>
  {{/each}}
</ul>
<a href = "http://localhost:3000/new">Create new project</a><br>
<a href="/?sort=start">sort by start date</a><br>
<a href="/?sort=end">sort by end date</a><br>
<a href="/?sort=goal">sort by goal amount</a><br>
<a href="/?sort=contribution">sort by contribution</a>


<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
